/* Sabse pehle font import */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Fir Tailwind CSS import */
@import "tailwindcss";

/* Ab theme variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-nunito: 'Nunito Sans', ui-sans-serif, system-ui, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: #001143;
  color: var(--foreground);
  font-family: 'Nunito Sans', ui-sans-serif, system-ui, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;

}

* {
  font-family: inherit;
}

.text-primary{
  color: #001143;
}
